
<div>
    <div>
        <button type="submit" [disabled]="">
            <!-- Funcionalidad critica, hay que parchar la vulnerabilidad de SQli en backend de estos campos -->
            <input id="username" type="text">
            <input id="password" type="password">
        </button>
    </div>
</div>